@{
}

@model List<Request>

<div class="container mt-3">
    <h1 class="display-4">Pending Requests</h1>
    <br />
    <div class="row">
        @foreach (var req in Model)
        {
            @foreach (var hum in ViewBag.hums)
            {
                if (hum.OrgId == req.HumanitarianId)
                {
                    ViewBag.org = hum.OrgName;
                }
            }

            @foreach (var prod in ViewBag.prod)
            {
                if (prod.ProductId == req.ProductId)
                {
                    ViewBag.p = prod.ProductName;
                    break;
                }
            }
            <div class="col-4 mt-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">
                            @(ViewBag.org)
                        </h5>
                        <hr />
                        <div>
                            <p class="card-text"><span class="font-weight-bold">Requested Product:</span>@ViewBag.p</p>
                            <p class="card-text"><span class="font-weight-bold">Quantity Requested: </span> @req.Amount</p>
                            <p class="card-text"><span class="font-weight-bold">Details: </span> @req.Notes</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-success" asp-action="RequestDetails" asp-route-id="@req.RequestId">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th class="text-left">Requesting Org</th>
                <th class="text-left">Requested Product</th>
                <th>Quantity Requested</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var req in Model)
            {
                @foreach (var hum in ViewBag.hums)
                {
                    if (hum.OrgId == req.HumanitarianId)
                    {
                        ViewBag.org = hum.OrgName;
                    }
                }

                @foreach (var prod in ViewBag.prod)
                {
                    if (prod.ProductId == req.ProductId)
                    {
                        ViewBag.p = prod.ProductName;
                    }
                }

                <tr>
                    <td class="text-left">@ViewBag.org</td>
                    <td class="text-left">@ViewBag.p</td>
                    <td>@req.Amount</td>
                    <td><a class="btn btn-success" asp-action="RequestDetails" asp-route-id="@req.RequestId">Details</a></td>
                </tr>
            }
        </tbody>
    </table>*@
</div>
